html {
  height: 100%;
  overflow: scroll;
  background-color: black;
}

#display {
  position: relative;
  height: 100%;
  width: 100%;
}

#brainbrowser {
  height: 100%;
  width: 100%;
}

#vertex-data-wrapper {
  position: absolute;
  left: 15px;
  top: 145px;
  padding: 5px;
  background-color: white;
  border-radius: 10px;
}

#vertex-data {
  background-color: gray;
  color: white;
  font-weight: bold;
  font-size: 14px;
  padding: 1em;
  border-radius: 10px;
}

#vertex-data h3 {
  font-size: 18px;
  margin-top: 0;
}

