@import url(http://fonts.googleapis.com/css?family=Lato);

html {
  overflow: scroll;
  background-color: white;
  font-family: 'Lato';
  font-weight: normal;
  background-color: #A0B4F2 !important;
}

body {
  background-color: #A0B4F2 !important;
  padding-top: 20px !important;
}

div#brainbrowser {
  background-color: white;
  width: 848px !important;
  height: 480px !important;
}

